@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


@* @{
    Layout = "_NewLayout"; for override the default layout in this page only
} *@


<p>Use this page to detail your site's privacy policy.</p>
